<div id="<%= dom_id team %>">
  <p>
    <strong>Teamid:</strong>
    <%= team.teamid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= team.nickname %>
  </p>

</div>
